.row {
  display: flex;
  justify-content: space-evenly;
}

.col-1 {
  flex-grow: 1;
}

.col-2 {
  flex-grow: 2;
}

.mb2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.row.center {
  align-items: center;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
}

img.small {
  max-height: auto;
  max-width: 9rem;
}

button.add {
  background-color: blue;
  width: 1.5rem;
}

button.remove {
  background-color: red;
  width: 1.5rem;
}

.text-right {
  text-align: right;
}

.block {
  position: fixed;
  top: 38px;
  max-width: 38%;
  padding: 20px;
  flex-direction: row;
  right: 0;
  background: transparent;
}

.hide-block {
  display: none;
  background-color: #fff;
}

.show-block {
  display: block;
  background-color: #fff;
}

.product-card-wrapper {
  display: inline-block;
}

input.search-bar {
  margin: 0 auto;
  width: 100%;
  height: 36px;
  border: none;
}

@media screen and ( max-width: 767px) {
  .col-1 {
    display: block;
    column-count: 2;
  }

  .service-section-container {
    display: block !important;
    column-count: 1;
  }

  .details-paragraph {
    max-width: 100% !important;
  }

  .details-img {
    width: 100% !important;
    height: 100% !important;
  }

  .search-bar-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  input.search-bar {
    width: 99%;
    margin-left: 2px;
    margin-right: 2px;
  }
}



