.row {
  display: flex;
  justify-content: space-evenly;
}

.col-1 {
  flex-grow: 1;
}

.col-2 {
  flex-grow: 2;
}

.row.center {
  align-items: center;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1rem;
}

img.small {
  max-height: auto;
  max-width: 9rem;
}

button.add {
  background-color: blue;
  width: 1.5rem;
}

button.remove {
  background-color: red;
  width: 1.5rem;
}

.text-right {
  text-align: right;
}

.block {
  position: fixed;
  top: 38px;
  max-width: 38%;
  padding: 20px;
  flex-direction: row;
  right: 0;
  background: transparent;
}

.hide-block {
  display: none;
  background-color: #fff;
}

.show-block {
  display: block;
  background-color: #fff;
}

.product-card-wrapper {
  display: inline-block;
}



